@import "src/style/vars.scss";

#container {
    position: relative;
    background-color: rgba($primary-color, .1);
    padding: 1rem .5rem;
    border-top: 1px solid rgba($primary-color, .4);
    border-bottom: 1px solid rgba($primary-color, .4);


    p {
        margin: 0;
    }

    &:hover {
        transition: background-color .2s;
        background-color: rgba($primary-color, .4);
    }
}