<div id="container">
    <div id="input_container">
        <input type="text" tessa-primary-text-input (input)="onNewSearchValue($event)" />
        <p>{{ (viewItems$ | async)?.length ?? 0 }} Item</p>
    </div>

    <div id="items_container" *ngIf="(viewItems$ | async)?.length">
        <tessa-list-item [routerLink]="['/item', item.id]" *ngFor="let item of (viewItems$ | async)" [item]="item">
        </tessa-list-item>
    </div>

    <div id="no_items_container" *ngIf="!(viewItems$ | async)?.length">
        <p>No Items Found :(</p>
    </div>

</div>