@import "src/style/scroll-utils.scss";


#container {
    display: flex;
    width: 60%;
    height: calc(100vh - 1rem);
    flex-direction: column;
    margin: 1rem auto 0;
    position: relative;
}

#input_container {
    display: flex;
    flex: 1;
    position: relative;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;

    input {
        width: 80%;
    }
}

#items_container {
    flex: 10;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;

    * {
        cursor: pointer;
    }

    @include hideScrollBar();
}


#no_items_container {
    flex: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}