<div id="container" *ngIf="(item$ | async) as item">
    <div id="header">
        <h1>Details Of item {{ item.id }}</h1>
    </div>
    <div id="description">
        <p id="value">The value of the item is: {{ item.value }}</p>
        <p id="milliseconds">The Milliseconds of creation is: {{ item.mill }}</p>
    </div>

    <div id="back_btn_container">
        <button routerLink="/item/search" tessa-primary-button-input>Get Back To Search</button>
    </div>
</div>