#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    #description {
        display: flex;
        row-gap: .2rem;
        flex-direction: column;
        justify-content: center;

        * {
            text-align: center;
            margin: 0;
        }
    }

    #back_btn_container {
        margin-top: 2rem;
    }
}