@import "./text-input/directives/primary-input-text.class.scss";
@import "./button-input/directives/primary-button.class.scss";


.tess_text_input_error {
    border: 1px solid red;
    transition: border .5s;
}