@import "../../../../../style/vars.scss";


.tess_primary_button {
    color: white;
    background-color: $primary-color;
    border-radius: 10px;
    width: fit-content;
    border: none;
    cursor: pointer;
    padding: 1rem;
}