@import "../../../../../style/vars.scss";


.tess_primary_input {
    border: 1px solid #ced4da;
    border-radius: 10px;
    color: black;
    padding: 0.75rem;
    background: transparent;
    transition: border-color 0.4s;

    &::placeholder {
        color: #d4bcfe;
    }

    &:hover,
    &:active,
    &:focus {
        border-color: $primary-color;
    }

}